<a href="https://colab.research.google.com/github/sihamanaya/CE880_Lab_coursework/blob/main/week1/problem1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Before you turn this problem in, make sure everything runs as expected. First, **restart the kernel** (in the menubar, select Kernel$\rightarrow$Restart) and then **run all cells** (in the menubar, select Cell$\rightarrow$Run All).

Make sure you fill in any place that says `YOUR CODE HERE` or "YOUR ANSWER HERE", as well as your name and collaborators below:

In [ ]:
NAME = "SIHAM ANAYA"
COLLABORATORS = "2316969"

---

---
# Welcome to CE880
### This is your week-1 : Problem 1 notebook

For this problem set, we'll be using the Jupyter notebook and please upload this notebook to [Google Colab](https://colab.research.google.com/).

---
## Question 1:

Write a function for Pythagorean theorem, or Pythagoras' theorem. Pythagorean is a fundamental relation in Euclidean geometry among the three sides of a right triangle. It states that the area of the square whose side is the hypotenuse (the side opposite the right angle) is equal to the sum of the areas of the squares on the other two sides. This theorem can be written as an equation relating the lengths of the legs a, b and the hypotenuse c, often called the Pythagorean equation:

$a^2 + b^2 = c^2$

Please write a function (code)to calculate the length of an unknown side of a right triangle, given two sides are known.

In [ ]:
import math
def myPythagorean(a,b):
    """write a function (code)to calculate the length of an unknown side
    of a right triangle, given two sides are known.
    """
    # YOUR CODE HERE
    if a == 0 or b == 0:
        return 0
    else:
        c = math.sqrt(a**2 + b**2)  # applying the Pythagorean theorem
        return c

    raise NotImplementedError()

In [ ]:
myPythagorean(10,14)

17.204650534085253

In [ ]:
"""Check that squares returns the correct output for several inputs"""
assert myPythagorean(3,2) == 3.605551275463989
assert myPythagorean(7,3) == 7.615773105863909
assert myPythagorean(0,2) == 0

---

## Question 2:

A `trapezoid` is a quadrilateral with two sides parallel. The `trapezoid` is equivalent to the British definition of the `trapezium`. An isosceles `trapezoid` is a `trapezoid` in which the base angles are equal so

<img src="https://www.w3resource.com/w3r_images/python-math-image-exercise-3.svg"
     alt="Markdown Monster icon"
     style="float: left; margin-right: 10px;" />
     
Please write a function (code)to calculate the area of trapezoid.

In [ ]:
def areaofTrap(base1, base2, height):
    """Compute the area of a trapezoid.

    Parameters:
    base1 (float): Length of the first base of the trapezoid.
    base2 (float): Length of the second base of the trapezoid.
    height (float): Height of the trapezoid.

    Returns:
    float: Area of the trapezoid.
    """
    area = 0.5 * (base1 + base2) * height
    return area

# Example usage of the function:
base1 = 5
base2 = 3
height = 6
trapezoid_area = areaofTrap(base1, base2, height)
print(f"The area of the trapezoid is: {trapezoid_area}")

The area of the trapezoid is: 24.0

In [ ]:
areaofTrap(5, 3, 6)

24.0

In [ ]:
"""Check that areaofTrap returns the correct answer for various inputs."""
assert areaofTrap(10, 10, 20) == 200.0
assert areaofTrap(5, 10, 20) == 150.0
assert areaofTrap(5, 3, 5) == 20.0

---
## Question 3:

 Write a Python program to reverse a string. Example: Sample String: `1234xyz` Expected Output: `zyx4321`

In [3]:
def reverse_string(str1):
    """Reverse the input string.

    Parameters:
    str1 (str): Input string to be reversed.

    Returns:
    str: Reversed string.
    """
    return str1[::-1]

In [4]:
reverse_string('ChatGPT')

'TPGtahC'

In [5]:
"""Check that areaofTrap returns the correct answer for various inputs."""
assert reverse_string('Humanitarian') == 'nairatinamuH'
assert reverse_string('ChatGPT') == 'TPGtahC'
assert reverse_string('Data Science') == 'ecneicS ataD'
assert reverse_string('CE880') == '088EC'

## Question 4:
Write a Python program to print the even numbers from a given list and in ascending order.

Sample List : `[1, 2, 3, 4, 5, 6, 7, 8, 9]` Expected Result : `[2, 4, 6, 8]`

In [53]:
import numpy as np

def even_num(lst_1):
    """Print the even numbers from a given list in ascending order.
# YOUR CODE HERE:

import numpy as np
def even_num(lst_1):

 Parameters:
    lst_1 (list): List of numbers.

     Returns:
    list: List of unique even numbers in ascending order.
    """
    even_numbers = list(set([num for num in lst_1 if num % 2 == 0]))  # Remove duplicates and filter even numbers
    even_numbers.sort()  # Sort the list in ascending order
    return even_numbers


import numpy as np

In [54]:
even_num([2, 3, 14, 17, 8, 19, 11, 14])

[2, 8, 14]

In [55]:
assert even_num([1, 2, 3, 4, 6, 7, 8, 9]) == [2, 4, 6, 8]
assert even_num([2, 3, 4, 7, 8, 9, 11, 14]) == [2, 4, 8, 14]
assert even_num([2, 3, 14, 17, 8, 19, 11, 14]) == [2, 8, 14]

## Question 5:
Write a Python function to create and print a list where the values are square of numbers between `1` and `n`, where `n` is user defined number: Example `sqr_values(4) == [1, 4, 9, 16]`

In [60]:
def sqr_values(n):
    """Write a Python program to print the square of numbers between 1 and `n`"""

    # YOUR CODE HERE
    raise NotImplementedError()
def sqr_values(n):
    """
    Create and print a list of square values of numbers from 1 to n.

    Parameters:
    n (int): Upper limit for the range of numbers.

    Returns:
    list: List of square values.
    """
    result = [i*i for i in range(1, n+1)]
    return result

In [61]:
sqr_values(4)

[1, 4, 9, 16]

In [62]:
"""Check that sqr_values returns the correct answer for various inputs."""
assert sqr_values(4) == [1, 4, 9, 16]
assert sqr_values(8) == [1, 4, 9, 16, 25, 36, 49, 64]
assert sqr_values(9) == [1, 4, 9, 16, 25, 36, 49, 64, 81]
assert sqr_values(11) == [1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121]

## Question 6:

Write a Python program to find all the duplicate characters which are similar to each other and join them.

In [102]:
def findDupChar(input):
    """Write a Python program to find all the duplicate characters which are similar to each other."""
    # YOUR CODE HERE
    raise NotImplementedError()
def findDupChar(input_string):
    """
    Find and join all the duplicate characters that are similar to each other in a string.

    Parameters:
    input_string (str): Input string to process.

    Returns:
    str: Resulting string after joining similar duplicates.
    """
    input_string = input_string.lower()
    seen = set()
    result = []
    for char in input_string:
        if char in seen and char not in result:
            result.append(char)
        seen.add(char)
    return ' '.join((result))

In [103]:
findDupChar('Essex University')

's e i'

In [104]:
assert findDupChar('Happyy') == 'p y'
assert findDupChar('Essex University') == 's e i'