<a href="https://colab.research.google.com/github/sihamanaya/CE880_Lab_coursework/blob/main/week2/problem1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Before you turn this problem in, make sure everything runs as expected. First, **restart the kernel** (in the menubar, select Kernel$\rightarrow$Restart) and then **run all cells** (in the menubar, select Cell$\rightarrow$Run All).

Make sure you fill in any place that says `YOUR CODE HERE` or "YOUR ANSWER HERE", as well as your name and collaborators below:

In [ ]:
NAME = ""
COLLABORATORS = ""

---

---
# Welcome to CE880
### This is your week-2 : Problem 1 notebook
### Spring Term 2023-24
#### Prepared by Dr Haider Raza

For this problem set, we'll be using the Jupyter notebook and please upload this notebook to [Google Colab](https://colab.research.google.com/).

---
## Question 1:

Write a Python function that takes a list of numbers and returns a list of their sigmoid values.
Hint: round the value to two decimal points.
![A](https://miro.medium.com/v2/resize:fit:1033/0*D5do3xhv5ulF50w2.png "Sigmoid")
By solving this question correctly you will get 1 point.

In [30]:
import math
def calculate_sigmoid(numbers):
    """Write a Python function that takes a list of numbers and returns a list of their sigmoid values."""
    import math
def calculate_sigmoid(numbers):
    """Write a Python function that takes a list of numbers and returns a list of their sigmoid values."""

#def sigmoid(x):
   # """Compute the sigmoid function for a given value."""
  #  return 1 / (1 + math.exp(-x))
    sigmoid_values = [round((1 / (1 + math.exp(-num))),2) for num in numbers]
    return sigmoid_values
    raise NotImplementedError()

In [31]:
numbers = [0, 1, 2, -3, 4]
result = calculate_sigmoid(numbers)
print(result)

[0.5, 0.73, 0.88, 0.05, 0.98]

In [32]:
"""Check your answer by running this cell"""

# Test case 1
my = [0, math.pi / 2, math.pi, 100, 200, 230]
assert calculate_sigmoid(my) == [0.5, 0.83, 0.96, 1.0, 1.0, 1.0]

# Test case 2
my = [0, 2, 4, 6, -30, 400]
assert calculate_sigmoid(my) == [0.5, 0.88, 0.98, 1.0, 0.0, 1.0]

---

## Question 2:

Given an array of integers, find two numbers such that they add up to a specific target sum. Return the indices of the two numbers. For example, given the array `[2, 7, 11, 15]` and the target `9`, the function should return `[0, 1]` since `2 + 7 = 9`.

By solving this question correctly you will get 1 point.

In [40]:
def two_sum(nums, target):
    """Given an array of integers, find two numbers such that they add
    up to a specific target sum. Return the indices of the two numbers."""
    num_dict = {}

    for i, num in enumerate(nums):
        complement = target - num
        if complement in num_dict:
            return [num_dict[complement], i]
        num_dict[num] = i

    return None  # If no such pair is found

    raise NotImplementedError()

In [41]:
# Example for students
nums = [2, 7, 11, 15]
target = 9
result = two_sum(nums, target)
print(result)

[0, 1]

In [42]:
"""Check your answer by running this cell"""

# Case 1
nums = [17, 12, 31, 6]
target = 37
assert two_sum(nums, target) == [2, 3]

# Case 2
nums = [1, 2, 4, 6, 30, 40]
target = 31
assert two_sum(nums, target) == [0, 4]

---
## Question 3:

Given an unsorted array of integers, find the length of the longest increasing subsequence.

For example, given the array `[10, 9, 2, 3, 7, 101, 18]`, the longest increasing subsequence is `[2, 3, 7, 101]`, so the length is 4.

By solving this question correctly you will get 1 point.

In [59]:
def length_of_lis(nums):
    """Given an unsorted array of integers, find the length of the longest increasing subsequence."""
    """Find the length of the longest increasing subsequence in an unsorted array of integers."""
    if not nums:
        return 0
    n = len(nums)
    dp = [1] * n
    for i in range(1, n):
        for j in range(i):
            if nums[i] > nums[j]:
                dp[i] = max(dp[i], dp[j] + 1)
    return max(dp)
    raise NotImplementedError()

In [60]:
result = length_of_lis([10, 19, 1, 2, 6])
print(result)

3

In [61]:
"""Check your answer by running this cell"""
# Case 1
assert length_of_lis([10, 9, 2, 3, 7, 101, 18]) == 4

# Case 2
assert length_of_lis([10, 19, 1, 2, 6]) == 3

## Pandas Data Frame

In [56]:
from sklearn import datasets
import pandas as pd
# Create a sample DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', "Haris", "Adam"],
    'Age': [25, 30, 28, 35, 41, 28],
    'City': ['New York', 'Los Angeles', 'Chicago', 'Houston', 'Chicago', 'Chicago']
}
df = pd.DataFrame(data)
df

      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   28      Chicago
3    David   35      Houston
4    Haris   41      Chicago
5     Adam   28      Chicago

---
## Question 4:

Write a function to Find the age of the person named `Charlie` and `Charlie` is not in the Data Frame then return `0`.

By solving this question correctly you will get 2 points.

In [92]:
def find_element(dataframe, name):
    """Write a function to Find the age of the person named "Charlie" """
    target_row = dataframe[dataframe['Name'] == name]

    if not target_row.empty:
        target_age = target_row['Age'].values[0]
        return target_age
    else:
        return 0
    raise NotImplementedError()

In [93]:
assert find_element(df, 'Bob') == 30
assert find_element(df, 'Charlie') == 28
assert find_element(df, 'CE880') == 0

---
## Question 5:


Write a function to calculate the `mean` and `standard deviation` of `Age`. `Hint` Create a list and append value to it and return the output.

By solving this question correctly you will get 1 point.

In [ ]:
def stats(X):
    """Write a functon to calculate mean and standard deviation of Age from the
    above dataframe df and round the values to 2 decimals points ."""
   import numpy as np
    raise NotImplementedError()

In [ ]:
"""Check your output"""
# Test case
x = stats(df)
y= [31.16, 5.84]
np.testing.assert_allclose(x, y, rtol=0.05, atol=0)